# Discord Bot のトークン (必須)
DISCORD_TOKEN=your_bot_token_here

# Discord アプリケーションの Client ID (必須)
DISCORD_CLIENT_ID=your_client_id_here

# データディレクトリのパス (オプション、デフォルトはプロジェクトルートの "data" フォルダ)
# DATA_DIR=path/to/your/data/directory
